*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f0f8ff;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    padding: 2em;
}

h1 {
    color: #111111;
    font-weight: bold;
    font-size: 1em;
}

button {
    background-color: #4ccc8c;
    color: #f0f8ff;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 0.4s ease;
}

button:hover {
    opacity: 1;
}

#message {
    color: #1e6843;
}
